<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--引入头部-->
<head th:replace="~{index::senlear_head}">
</head>
<link rel="stylesheet" href="/res/common.css">
<body>
<!--用户顶部状态条-->
<div th:replace="~{/user/index::senlear_userTopBar}" class="fly-header layui-bg-black">
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <!--引入用户侧边导航栏-->
  <ul th:replace="~{/user/index::senlear_userSidebar}" class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  </ul>

  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
        <div class="layui-col-md12">
          <div class="layui-container">
            <div class="layui-logo">
              <img src="/res/images/other/logo.png"/><cite> Senlear<span class="layui-hide-xs">文件服务器</span></cite>
            </div>
          </div>
        </div>

        <div class="layui-col-md12" style="padding-top: 15px;">
          <div class="layui-card">
            <div class="layui-card-header">当前位置：<span id="tvFP">/</span></div>
            <div class="layui-card-body">
              <div class="btnDiv">
                <button id="btnBack" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe65c;</i>返回上级
                </button>
                <button id="btnRefresh" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe669;</i>刷新
                </button>
                <button id="btnDilaog" class="layui-btn layui-btn-sm layui-btn-primary icon-btn"><i class="layui-icon">&#xe628;</i>文件管理与分享
                </button>
              </div>

              <div class="file-list"  style="overflow-y:auto">
              </div>

            </div>
          </div>
        </div>
        
        

      </div>
	</div>

</div>


<!--引入角页-->
<div th:replace="~{index::senlear_footer}" class="fly-footer">
</div>

<!-- 渲染模板 -->
<script id="fileTpl" type="text/html">
  {{#  layui.each(d, function(index, item){ }}
  <div class="file-list-item" data-dir="{{item.isDir}}" data-url="{{item.url}}" data-name="{{item.name}}">
    <div class="file-list-img {{item.hasurl?'media':''}}">
      {{# if(item.hasurl){ }}
      <img src="{{item.url}}"/>
      {{# }else{ }}
      <img src="/res/images/fti/{{item.type}}.png"/>
      {{# } }}
    </div>
    <div class="file-list-name">{{item.name}}</div>
  </div>
  {{#  }); }}
  {{# if(d.length<=0){ }}
  <div class="list-empty">
    <i class="layui-icon layui-icon-face-surprised"></i>
    <div>没有文件</div>
  </div>
  {{# } }}
</script>
<script th:src="@{/res/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/res/clipboard.min.js}"></script>
<script>
  var baseServer = "/";
  layui.use(['jquery', 'layer', 'element', 'upload', 'laytpl', 'util'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var upload = layui.upload;
    var laytpl = layui.laytpl;
    var util = layui.util;

    // 渲染文件列表
    function renderList(dir) {
      if (!dir) {
        dir = $('#tvFP').text();
      }
      layer.load(2);
      $.get(baseServer + 'file/list', {
        dir: dir
      }, function (res) {
        layer.closeAll('loading');
        if (res.code == 200) {
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].url = res.data[i].url;

          }
          laytpl(fileTpl.innerHTML).render(res.data, function (html) {
            $('.file-list').html(html);
          });
        } else {
          layer.msg(res.msg, {icon: 2});
        }
      });
    }

    renderList();

    // 上传文件事件
    upload.render({
      elem: '#btnUpload',
      url: baseServer + 'file/upload',
      data:{filepath:"/senlear"},
      choose: function (obj) {
        layer.load(2);
      },
      done: function (res, index, upload) {
        layer.closeAll('loading');
        if (res.code != 200) {
          alert($("#tvFP").text());
          layer.msg(res.msg, {icon: 2});
        } else {
          alert($("#tvFP").text());
          layer.msg(res.msg, {icon: 1});
          renderList();
        }
      },
      error: function () {
        layer.closeAll('loading');
        layer.msg('上传失败', {icon: 2});
      },
      accept: 'file'
    });

    // 刷新
    $('#btnRefresh').click(function () {
      renderList();
    });

    var mUrl;
    // 列表点击事件
    $('body').on('click', '.file-list-item', function (e) {
      var isDir = $(this).data('dir');
      var name = $(this).data('name');
      mUrl = $(this).data('url');
      $('#copy').attr('data-clipboard-text', mUrl);
      if (isDir) {
        var cDir = $('#tvFP').text();
        cDir += (cDir == '/' ? name : ('/' + name));
        $('#tvFP').text(cDir);
        renderList(cDir);
      }
    });

    // 返回上级
    $('#btnBack').click(function () {
      var cDir = $('#tvFP').text();
      if (cDir == '/') {
        // layer.msg('已经是根目录', {icon: 2})
      } else {
        cDir = cDir.substring(0, cDir.lastIndexOf('/'));
        if (!cDir) {
          cDir = '/';
        }
        $('#tvFP').text(cDir);
        renderList(cDir);
      }
    });

    // 点击空白隐藏下拉框
    $('html').off('click.dropdown').on('click.dropdown', function () {
      $('#copy').attr('data-clipboard-text', '');
      $('#dropdownFile').removeClass('dropdown-opened');
    });

    // 打开
    $('#open').click(function () {
      window.open(mUrl);
    });
    // 删除
    $('#del').click(function () {
      layer.confirm('确定要删除此文件吗？', function () {
        layer.load(2);
        $.get(baseServer + 'file/del', {
          file: mUrl.substring(mUrl.indexOf('/file/') + 6)
        }, function (res) {
          layer.closeAll('loading');
          if (res.code == 200) {
            layer.msg(res.msg, {icon: 1});
            renderList();
          } else {
            layer.msg(res.msg, {icon: 2});
          }
        });
      });
    });
    // 复制
    var clipboard = new ClipboardJS('#copy');
    clipboard.on('success', function (e) {
      e.clearSelection();
      layer.msg('文件地址已复制', {icon: 1});
    });
    clipboard.on('error', function (e) {
      layer.msg('复制失败，请手动复制', {icon: 2});
    });

    $('#btnDilaog').click(function (){
      window.open("/[[${user.username}]]/file/index");
    });
  });
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>